@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* Optional custom global styles below */

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}