@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* Optional global styles can go below */

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
    color: #111827;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}